<nb-card>
  <nb-card-header>Add New Item</nb-card-header>
  <nb-card-body>
    <form>
      <div class="form-group">
        <label for="">Item Name </label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder=" ">
      </div>
      <div class="form-group">
        <label for="">Code</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Quantity</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Unit</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Price</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Description</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Category</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>

      <button type="submit" class="btn btn-info" (click)="onSubmit($event)" >Submit</button>
    </form>
  </nb-card-body>
</nb-card>